#common types of file ignored in visual c++
*.ilk
*.pdb
*.exp
*.exe
*.dll
*.lib
*.tlog
*.obj
*.pch
*.sdf
*.opensdf
*.suo

#types of ngspice file ignored
*.raw
*.out

#common directory ignored in visual c++
#/debug
#/release
/ipch
/ingspice/Debug
/ingspice/Release
/.settings
/INgspiceTest/Debug
/INgspiceTest/Release

# tips:
# *.obj - ignore all files with .obj extention
# dir/ - ignore all files in dir
# /dir - ignore dir in root
# !out.exe - except out.exe, that is out.exe will not be ignored
# doc/*.txt - ignore doc/notes.txt, but not doc/sub/notes.txt
# doc/**/*.txt - ignore files in the doc/ directory

#add except
!/Debug/*.cir
!/Debug/ngspice.dll

#not current
*.dgml
